.cardTitle {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue-color) !important; 
}

.cardBody {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--blue-color) !important;
}
