@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  user-select: none;
  background-color: var(--bg-gray-color) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: #6d91ee;
  --second-main-color: #5180f6;
  --light-main-color: #cedcff;
  --gray-color: #4f4f4f;
  --gray2-color: #333333;
  --bg-gray-color: #f5f5f5;
  --dark-color: #515151;
  --white-color: #fff;
  --yellow-color: #eec04b;
  --blue-color: #324473;
  --dark-blue: #22366a;
  --footer-color: #0c1e49;
}

.container {
  width: 70% !important;
}

a {
  text-decoration: none !important;
}
